/presentation/*.aux
/presentation/*.log
/presentation/*.nav
/presentation/*.out
/presentation/*.pdf
/presentation/*.snm
/presentation/*.toc
/presentation/*.vrb

/presentation/_minted*/

/presentation/src/ocaml/domain_state.h
/presentation/src/ocaml/domain_state_abbr.h
/presentation/src/ocaml/domain_state_backtrace.h


/src/**/*.annot
/src/**/*.cmo
/src/**/*.cma
/src/**/*.cmi
/src/**/*.a
/src/**/*.o
/src/**/*.cmx
/src/**/*.cmxs
/src/**/*.cmxa

/src/**/*.exe
/src/**/*.s
/src/**/*.objdump
/src/**/*.cmm
/src/**/*.linear
/src/**/gdb.out
